<%- partial('_partial/head') %>
<body>
	<script>
		if (window.netlifyIdentity) {
		  window.netlifyIdentity.on("init", user => {
			if (!user) {
			  window.netlifyIdentity.on("login", () => {
				document.location.href = "/admin/";
			  });
			}
		  });
		}
	  </script>

	<div id="wrapper">
		<%- partial('_partial/header', null, {cache: !config.relative_link}) %>
		
		<!-- Main content -->
			<%- body %>	
		<%- partial('_partial/footer', null, {cache: !config.relative_link}) %>
		<%- partial('_partial/after-footer') %>
	</div>
</body>
</html>